language: node_js
node_js:
  - "0.10"
  - "0.11"
  - "0.12"
  - "iojs"
before_install:
  - "npm install -g gulp"
  - "npm install -g bower"
  - "npm install -g coveralls"
before_script:
  - "npm run bower"
script:
  - "npm test"
after_success:
  - "npm run coveralls"
